[submodule ".registry"]
	path = .registry
	url = https://github.com/rickhelmus/rickhelmus.r-universe.dev
	branch = HEAD
[submodule "InterpretMSSpectrum"]
	path = InterpretMSSpectrum
	url = https://github.com/cran/InterpretMSSpectrum
	branch = 1.3.3
[submodule "KPIC"]
	path = KPIC
	url = https://github.com/rickhelmus/KPIC2
[submodule "MS2Quant"]
	path = MS2Quant
	url = https://github.com/kruvelab/MS2Quant
	branch = main
[submodule "MS2Tox"]
	path = MS2Tox
	url = https://github.com/kruvelab/MS2Tox
	branch = main
[submodule "MetaClean"]
	path = MetaClean
	url = https://github.com/KelseyChetnik/MetaClean
[submodule "RAMClustR"]
	path = RAMClustR
	url = https://github.com/cbroeckl/RAMClustR
	branch = e005614d808e0ca93c459ec8cc103b87cd5d11fd
[submodule "RDCOMClient"]
	path = RDCOMClient
	url = https://github.com/rickhelmus/RDCOMClient
[submodule "cliqueMS"]
	path = cliqueMS
	url = https://github.com/rickhelmus/cliqueMS
[submodule "enviPick"]
	path = enviPick
	url = https://github.com/blosloos/enviPick
[submodule "fastAdaboost"]
	path = fastAdaboost
	url = https://github.com/souravc83/fastAdaboost
[submodule "nontarget"]
	path = nontarget
	url = https://github.com/blosloos/nontarget
[submodule "nontargetData"]
	path = nontargetData
	url = https://github.com/blosloos/nontargetData
[submodule "patRoon"]
	path = patRoon
	url = https://github.com/rickhelmus/patRoon
[submodule "patRoonInst"]
	path = patRoonInst
	url = https://github.com/rickhelmus/patRoonInst
[submodule "splashR"]
	path = splashR
	url = https://github.com/berlinguyinca/spectra-hash
	subdir = splashR
